In [12]:
import pandas as pd

In [13]:
data=pd.read_csv('Tweets.csv')

In [14]:
data.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [53]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [54]:
data.dropna(subset=['selected_text'], inplace=True)
texts=data['selected_text'].values
labels=data['sentiment'].values

In [55]:
train_texts, test_texts, train_labels, test_labels = train_test_split(texts, labels, test_size=0.2, random_state=42)

In [56]:
label_mapping = {"negative": 0, "neutral": 1, "positive": 2}
train_labels = [label_mapping[label] for label in train_labels]
test_labels = [label_mapping[label] for label in test_labels]
num_classes = len(label_mapping)

In [49]:
from keras.layers import Embedding, LSTM, Dense, Dropout

In [57]:
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Define the model
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(len(tokenizer.word_index) + 1, 100, input_length=max_length),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(3, activation='softmax')
])

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Convert labels to one-hot encoded vectors
train_labels = tf.keras.utils.to_categorical(train_labels, num_classes=3)
test_labels = tf.keras.utils.to_categorical(test_labels, num_classes=3)

# Train the model
model.fit(train_data, train_labels, epochs=10, batch_size=16, validation_data=(test_data, test_labels))

Epoch 1/10
1374/1374 [==============================] - 98s 70ms/step - loss: 0.5333 - accuracy: 0.7889 - val_loss: 0.4581 - val_accuracy: 0.8282
Epoch 2/10
1374/1374 [==============================] - 93s 68ms/step - loss: 0.3111 - accuracy: 0.8896 - val_loss: 0.4613 - val_accuracy: 0.8322
Epoch 3/10
1374/1374 [==============================] - 94s 69ms/step - loss: 0.2164 - accuracy: 0.9280 - val_loss: 0.5105 - val_accuracy: 0.8222
Epoch 4/10
1374/1374 [==============================] - 97s 71ms/step - loss: 0.1635 - accuracy: 0.9456 - val_loss: 0.5481 - val_accuracy: 0.8241
Epoch 5/10
1374/1374 [==============================] - 96s 70ms/step - loss: 0.1243 - accuracy: 0.9577 - val_loss: 0.6284 - val_accuracy: 0.8186
Epoch 6/10
1374/1374 [==============================] - 93s 68ms/step - loss: 0.0983 - accuracy: 0.9660 - val_loss: 0.6674 - val_accuracy: 0.8184
Epoch 7/10
1374/1374 [==============================] - 94s 68ms/step - loss: 0.0798 - accuracy: 0.9721 - val_loss: 0.7528 - val_accuracy: 0.8201
Epoch 8/10
1374/1374 [==============================] - 94s 69ms/step - loss: 0.0667 - accuracy: 0.9771 - val_loss: 0.8131 - val_accuracy: 0.8159
Epoch 9/10
1374/1374 [==============================] - 98s 71ms/step - loss: 0.0532 - accuracy: 0.9822 - val_loss: 0.9274 - val_accuracy: 0.8191
Epoch 10/10
1374/1374 [==============================] - 95s 69ms/step - loss: 0.0479 - accuracy: 0.9840 - val_loss: 0.9727 - val_accuracy: 0.8139

In [67]:
def interpret_predictions(predictions):
    sentiment_labels = ['Negative', 'Neutral', 'Positive']
    predicted_label = sentiment_labels[predictions.argmax()]
    return predicted_label

In [72]:
import string

# Preprocess the new data
new_data = "Food was Excellent, brilliant"

# Lowercase the text
new_data = new_data.lower()

# Remove punctuation
new_data = new_data.translate(str.maketrans("", "", string.punctuation))

# Tokenize the text
new_data_tokens = new_data.split()

# Convert the tokens to numerical representation
new_data_encoded = []
for token in new_data_tokens:
    if token in tokenizer.word_index:
        new_data_encoded.append(tokenizer.word_index[token])

# Pad or truncate the input
new_data_padded = pad_sequences([new_data_encoded], maxlen=max_length, padding='post')  # Adjust maxlen as per your model's input requirements

# Make predictions using the model
predictions = model.predict(new_data_padded)
decoded_predictions = interpret_predictions(predictions)


# Print the predictions
print(decoded_predictions)

1/1 [==============================] - 0s 25ms/step
Negative